*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
	font-family: cursive;

}
.lio{
	width: 100%;
	position: fixed;
	background-color: #54f0e5;
	padding: 15px 0px;
	height: 30px;

}
.lio .lio1{

	width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	align-content: auto;
}
.bande a{
	color: #ff8040;
	font-size: 40px;
	font-weight: 500;
}
.bande span{
	color: #000000;
}
.menu li{
	display: inline-block;
}
.menu{
	padding-top: 10px;
}
.menu li a{
	color: #ff8040;
	font-size: 15px;
	font-weight: 150;
	margin-right: 60px;
	transition: color 1s;
}

.menu li a:hover{
	color: white;
}
.L{
	position: absolute;
	background-color: black;
	width: 700px;
	height: 100px;
	margin-top: 105px;
}
